
  /* =========small screen=================== */
  @media (max-width: 575.98px) { 
    .mainfooter {
      background-color: rgb(45, 45, 45);
      display: grid;
      padding: 10px 2%;
      font-size: 13px;
      Font-weight: 500;
      color: rgb(255, 255, 255);
      font-family: futura-pt, sans-serif;
      gap: 20px;
    }
    #logofooter{
      Font-size: 16px;
      Font-weight: 800;
      color: rgb(255, 255, 255);
      margin-right: 30px;
  }
  
    .footerlist{
      display: grid;
      gap: 2px;
      padding-bottom: 2px;
    }

    #copyright{
      font-size: 12px;
      }
    #copy{
      display: none;
    }

    #copyright2{
      font-size: 8px;
      text-align: center;
      background-color: rgb(105, 94, 94);
      padding: 2px 0;
      color: wheat;
    }

  /* .headcenter{
    font-size: 20px;
  } */
      #footercenter{
        text-align: center;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-bottom: 2px;
      }
      
      #socials{
        text-wrap: 10px;
        display: flex;
        gap: 10px;
        padding-top: 5px;
        font-size: 20px;
      }
  }

  /* tablets devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .mainfooter {
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items:first baseline;
    justify-content: space-between;
    padding: 10px 2%;
    Font-size: 18px;
    Font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: futura-pt, sans-serif;
  }
  .footerlist{
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 2px;
  
  }
  
  .footerlist li{
    border-bottom: 2px white;
    cursor: pointer;
  }
  
  .footerlist li:hover{
    border-bottom: 2px rgb(99, 30, 30);
    cursor: pointer;
    transition: ease-out;
    transform: scale(1.1);
  }
  
  #copyright{
  font-size: 12px;
  }
  #copy{
    font-size: 12px;
    }

    #copyright2{
      display: none;
      }
  #footercenter{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
  }
  #socials{
    display: flex;
    gap: 2px;
    padding-top: 20px;
    font-size: 24px;
  }
  
  #socials p:hover{
    cursor: pointer;
    transition: ease-out;
    transform: scale(1.1);
    color: blue;
  }
  }

  /* laptop devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 1440px) {
  .mainfooter {
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items:first baseline;
    justify-content: space-between;
    padding: 10px 2%;
    Font-size: 18px;
    Font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: futura-pt, sans-serif;
  }
  .footerlist{
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 2px;
  
  }
  
  .footerlist li{
    border-bottom: 2px white;
    cursor: pointer;
  }
  
  .footerlist li:hover{
    border-bottom: 2px rgb(99, 30, 30);
    cursor: pointer;
    transition: ease-out;
    transform: scale(1.1);
  }
  
  #copyright{
    font-size: 12px;
    }
    #copy{
      font-size: 12px;
      }
  
      #copyright2{
        display: none;
        }
  
  #footercenter{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
  }
  #socials{
    display: flex;
    gap: 2px;
    padding-top: 20px;
    font-size: 24px;
  }
  
  #socials p:hover{
    cursor: pointer;
    transition: ease-out;
    transform: scale(1.1);
    color: blue;
  }
}
